

h1 {
	text-align: center;
}


p{
	text-align: center;
}

li {
	list-style: none;
	text-align: center;
}

li:hover {
	background-color: orange;
} 

.lista:active {
	font-family: 'Metal Mania', cursive;

}
