h1 {
    font-family: sans-serif;
  }
  p {
    font-weight: 500;
    font-size: 3em;
    background: black;
    border-radius: 4px;
    color: white;
    margin-left: 350px;
    width: 650px;

  }
 body {
   text-align: center;
   background: white;
   font-size: 16;
   background: slateblue ;
 }
 ul {
   list-style: none;
   background: red;
 }

.amarelo {
  background: yellow;
  margin-left: -40px ;
}

.vermelho {
  background: red;
  margin-left: -40px ;
}
.marron {
  background: brown;
  margin-left: -40px ;
}